---
interface Props {
  name?: string;
}

const { name = "My Happy Agency" } = Astro.props;
---

<a href="/" class="inline-flex items-center gap-2">
  <img src="/logo.png" alt={name} width="39" height="39" class="rounded-lg" />
</a>
