---
import logo from "../../public/logo.png";

interface Props {
  name?: string;
}

const { name = "YourBrand" } = Astro.props;
---

<a href="/">
  <img
    src={logo.src}
    alt={`${name || "My Happy Agency"} logo`}
    class="h-12 lg:min-h-16 lg:min-w-16 mx-auto z-[9999]"
  />
</a>
